---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
import NavBis from "../../components/NavBis.astro"; 


export async function getStaticPaths() {

  const allPosts = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <div class="flex justify-between items-center">
    <a href="/"><img class="w-1/6" src="/accueil.svg" alt=""></a>
    <h3 class="text-2xl font-passion text-center">Sarah Vidal</h3>
  </div>
  <div class="flex flex-col items-center gap-8 my-8">
    <h1 class="text-5xl font-passion z-10">{tag}</h1>
    <NavBis/>
  </div>
    
  
  <ul class="grid grid-cols-2 gap-4 my-10">
    {
      posts.map((post) => (
        <BlogPost src={post.data.image.url} url={"/posts/" + post.slug} title={post.data.title} />
      ))
    }
  </ul>
  
</BaseLayout>
