---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";


// Récupérer tous les posts et extraire les tags uniques
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags || []))]; // Assure une gestion robuste des tags non définis
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap justify-center gap-4 p-4">
    {tags.map((tag) => (
      <p class="px-4 py-2 border border-dotted border-gray-400 rounded-lg bg-blue-50 text-lg hover:bg-blue-100 hover:border-blue-500 transition" key={tag}>
        <a href={`/tags/${tag}`} class="text-blue-600 hover:text-blue-800 transition">
          {tag}
        </a>
      </p>
    ))}
  </div>
</BaseLayout>
