---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="flex flex-col justify-between items-center">
    <div class="flex pb-14">
      <a href="/"><img class="sm:w-1/6 w-1/3" src="/accueil.svg" alt="" /></a>
    </div>
    <div class="flex gap-8 w-2/4"> 
      <div class="w-2/4 bg-white"></div> 
      <p>
        Je m’appelle Sarah Vidal et je termine actuellement ma troisième année
        en BUT MMI (Métiers du Multimédia et de l’Internet) à l’IUT de Limoges. <br
        />
        <br />Passionnée depuis toujours par les arts plastiques – une
        spécialité que j’avais déjà choisie au lycée – j’ai pu, grâce à ma
        formation, explorer et exprimer ma créativité à travers le numérique sur
        différents supports.
      </p>
    </div>
  </section>
</BaseLayout>
