---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBis from "../components/NavBis.astro";
const pageTitle = "Home2";
const figma = "https://embed.figma.com/proto/j1NUq3DeIOdQbD3beRmSZE/Goire-Issoire?node-id=2-292&node-type=canvas&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=2%3A292&embed-host=share"
---

<BaseLayout pageTitle={pageTitle}>
  <section class=" h-screen flex flex-col gap-52 justify-around">
    <div class="relative flex flex-col m-4">
      <h1 class="text-10xl font-passion z-10">Portfolio</h1>
      <svg class="absolute top-1/3 left-1/3" width="2833" height="554" viewBox="0 0 2833 554" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M68 68V486.5H2765" stroke="#E9E8E8" stroke-width="135" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <NavBis />
  </section>
</BaseLayout>

<style>

  body{
    
  }

  .path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>

