---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBis from "../components/NavBis.astro";
const pageTitle = "Home2";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="h-screen flex flex-col items-center justify-center gap-16 relative">
    <h3 class="font-passion text-2xl text-center">Sarah Vidal</h3>
    <div class="flex flex-col items-center m-4 gap-10">
      <div class="relative">
        <h1
          class="lg:text-11xl md:text-10xl sm:text-9xl xs:text-8xl text-6xl font-passion tracking-widest relative z-10"
        >
          Portfolio
        </h1>
        <div
          class="absolute inset-0 -z-10 bg-no-repeat bg-contain before:absolute before:inset-0 before:bg-[url('/public/contour-titre.svg')] before:bg-no-repeat before:scale-90 before:w-full before:h-full"
        >
        </div>
      </div>

      <NavBis />
      <img
        src="/fleche-gauche.svg"
        alt=""
        class="absolute left-[20%] top-[75%]"
      />
      <img
        src="/fleche-gauche2.svg"
        alt=""
        class="absolute left-[44%] bottom-[15%]"
      />
      <img
        src="/fleche-droite.svg"
        alt=""
        class="absolute right-[5%] top-[65%]"
      />
    </div>
  </section>
</BaseLayout>
