---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<ul class="flex flex-row gap-4 justify-end flex-wrap">
    {
      tags.map((tag) => (
        <li class="px-3 py-1 text-base lg:text-xl rounded-full border text-white border-white hover:bg-white hover:text-black">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
