---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="flex justify-between items-center p-6">

        <a href="/" class="text-3xl font-medium font-passion no-underline relative">
            Sarah Vidal
            <span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 ease-out transform -translate-x-1/2 group-hover:w-full"></span>
        </a>

        <div class="flex gap-7">
            <a href="/about/" class="relative text-lg no-underline group">
                À propos
                <span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white duration-300 ease-out transform -translate-x-1/2 group-hover:w-full"></span>
            </a>
            <a href="/contact/" class="relative text-lg no-underline group">
                Contact
                <span class="absolute bottom-0 left-1/2 w-0 h-[2px] bg-white duration-300 ease-out transform -translate-x-1/2 group-hover:w-full"></span>
            </a>
        </div>
    </nav>
</body>
</html>