---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex justify-between items-center">
    <a href="/"><img class="w-1/6" src="/accueil.svg" alt="" /></a>
    <h3 class="text-2xl font-passion text-center">Sarah Vidal</h3>
  </div>
    <h1 class="text-5xl text-center my-12 font-passion">{frontmatter.title}</h1>

  <slot />
</BaseLayout>
